html {
	min-height:100%;
	background-image: url('../shelf.jpg');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
}

body, html {
	font-family: raleway;
	text-align:center;
	color: white;
}

h1 {
	letter-spacing: 2px;
	font-weight: bold;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-size: 5rem;
	text-shadow: 2px 2px black;
}

#btn1, #btn2 {
	height: 3.5rem;
	width: 7rem;
	color: white;
	font-size: 1.5rem;
	background-image: -webkit-linear-gradient(top, #34d96e, #2bad4e);
	border: 1px solid #bbb;
}

#btn1:hover, #btn2:hover {
	background-image: -webkit-linear-gradient(top, #37CC6B, #228A3E);
}

.textput {
	margin-top: 2rem;
	width: 4rem;
	height: 3rem;
	font-size: 1rem;
	border-radius: 50%;
	text-align: center;
	border:1px solid #bbb;
	padding: 0 0px 0 10px;
}
.cap {
	text-shadow: 2px 2px black;
}
.upload {
	display: none;
}
.wpm {
}
.wpm2{
}

#canvas {
	margin: 0 auto;
	padding-top: 1.25rem;
}

.white-bar {
	width: 100%;
	height: 5rem;
	background: white;
	margin-bottom: 2rem;
	text-align: center;
}
