body, html {
	font-family: raleway;
	background-image: url('../shelf.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	text-align:center;
	color:white;
}

.title {
	letter-spacing: 2px;
	font-weight: bold;
	top:80px;
	margin:auto;
	font-size: 70px;
	text-shadow: 2px 2px black;
}

.button {
	position:absolute;
	height:60px;
	width:120px;
	color:white;
	top:380px;
	left:calc(50% - 60px);
	background-image: -webkit-linear-gradient(top, #34d96e, #2bad4e);
	border:1px solid #bbb;
}

.textput {
	position:absolute;
	width:50px;
	height:40px;
	font-size:12px;
	top:300px;
	border-radius:50%;
	border:1px solid #bbb;
	padding:0 0px 0 10px;
}
.cap {
	position:absolute;
	top:340px;
	text-shadow: 2px 2px black;
}
.upload {
	display: none;
}
.wpm {
	left: 30%;
}
.lol {
	right:30%;
}
.wpm2{
	left:31.5%;
}
.lol2 {
	right:26%;
}
#canvas {
	top:80px;
	display:none;
	height:200px;
	margin:auto;
}